body {
    background-color:#fafafa;
    padding-top: 50px;
}

.asteriskField {
    display: none;
}

form > .alert > ul > li {
    list-style: none;
}

.workout
{
    border-color: silver;
    border-style: solid;
    border-width: 1px;
    border-radius: .25rem;
    margin: 10px;
    padding: 10px;
}

