{% extends 'base.html' %} 
{% load static %} 
{% block title %} Workouts {% endblock %} 
{% block body %}

<h1 class="display-4 text-center">Dashboard</h1>

<div class="border rounded-3 row bg-white my-3 py-3 px-5 mx-5 shadow p-3 mb-5 bg-body rounded">
  <div class="col-lg-8" id="left-column">
    <h1 class="fw-bold text-dark text-opacity-75">*Insert Name*</h1>
    <p class="lead">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. A accusamus
      doloremque consequatur provident beatae, culpa iure autem atque numquam,
      dolores praesentium quos nemo? Voluptatum error odit qui nesciunt ex
      debitis!
    </p>
  </div>
  <div class="col-lg-4" id="right-column"><img src="{% static 'css/images/be.png' %}" class="img-fluid bg-white" alt=""></div>
</div>


  <div class="row border rounded-3 row bg-white my-3 py-3 px-5 mx-5 shadow p-5 mb-5 pt-5 pb-5 bg-body rounded">
    <div class="col-lg-4" id="left-column">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'css/images/pic3.jpeg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">The Best Trainers</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
</div>
<div class="col-lg-4" id="mid-column">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'css/images/weight.jpeg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Amazing Culture</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
<div class="col-lg-4" id="right-column">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'css/images/facilities.jpeg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">State of The Art Facility</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
</div>


<div class="border rounded-3 row bg-white my-5 py-5 px-5 mx-5 shadow p-5 mb-5 mt-5 pt-5 bg-body rounded mt-3 pt-3">
  <div class="col-lg-4"><img  src="{% static 'css/images/ant.jpeg' %}" class="img-fluid" alt=""></div>
  <div class="col-lg-4"><img  src="{% static 'css/images/josh.jpeg' %}" class="img-fluid" alt=""></div>
  <div class="col-lg-4"></div>
</div>

<div class="row justify-content-center">
  <div
    class="col-lg border bg-white border rounded-3 row bg-white my-3 py-3 px-5 mx-5 shadow p-3 mb-5 rounded"
  >
    <h1 class="display-3 text-center text-secondary text-uppercase">
      Workout With Us!
    </h1>

    

    <div class="list-group">
      {% for workout in workouts %}
      <div class="task shadow p-3 mb-3 bg-body rounded">
        <div class="row">
          <div class="col-lg-9 col-7">
            <h5 class="mb-1">{{ workout }}</h5>
            <p class="my-1">
              <small>Created: {{ workout.created_at }}</small>
            </p>
          </div>
          <div class="col-lg-3 col-5 text-end">
            <a
              href="{% url 'update_workout' workout.id %}"
              class="btn btn-primary btn-sm"
              >Update</a
            >
            <a
              href="{% url 'delete_workout' workout.id %}"
              class="btn btn-danger btn-sm"
              >Delete</a
            >
          </div>
        </div>
      </div>
      {% empty %}
      <h3>
        No items found with your search term, or there is no workout added yet.
      </h3>
      {% endfor %}
      <a href="{% url 'create_workout' %}" class="btn btn-success my-3"
      ><i class="fas fa-plus"></i> Add a new workout</a
    >
    </div>
  </div>
</div>


{% endblock %}
