{% extends 'base.html' %}

{% block title %}
    Workout Log
{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-lg border bg-white border rounded-3 row bg-white my-3 py-3 px-5 mx-5 shadow p-3 mb-5 rounded">
            <h1 class="display-3 text-center text-secondary text-uppercase">Workout Log</h1>
            <div class="rows text-center justify-content-center b-3">
                <a href="{% url 'create_workout' %}" class="btn btn-secondary btn-lg my-3"> Add a new workout <i class="fas fa-plus"></i></a>
            </div>
            <div class="list-group ">
                {% for workout in workouts reversed %}
                    <div class="text-center">You've logged {{ forloop.revcounter }} workout(s). Keep at it!</div>
                        <div class="workout shadow p-3 mb-3 bg-body rounded">
                            <div class="row">
                                <div class="col-lg-9 col-12 col-sm-6 col-md-7">
                                    <div class="mb-2 display-6">{{ workout }}</div>
                                    <p class="my-2">
                                    <div>Intensity: {{ workout.intensity }}</div>
                                    <div>Total sets: {{ workout.total_sets }}</div>
                                    <div>Duration: {{ workout.duration }} <small> minutes</small></div>
                                    <div>Bodyweight: {{ workout.bodyweight }} <small> lbs.</small></div>
                                    <div class="">Completed: {{ workout.date }}</div>
                                    </p>
                                </div>
                                <div class="col-lg-3 col-12 col-sm-6 col-md-5 text-end align-self-end">
                                    <a href="{% url 'update_workout' workout.id %}" class="btn btn-secondary btn-md">Edit</a>
                                    <a href="{% url 'delete_workout' workout.id %}" class="btn btn-danger btn-md">Delete</a>
                                </div>
                            </div>
                        </div>
                {% empty %}
                <h3 class="text-center">No workouts logged yet. Let's get started!</h3>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}